{% extends "base.html.twig" %}

{% block title %} Home {% endblock%}

{% block body %}

        <div id="jumbo" class="jumbotron jumbotron-fluid jumbo">
            <div class="container">
            <div class="text-center vertical-center">

                {% if current_user %}
                    <h1 class="jumbotron-header">Welcome {{current_user.username }} </h1>
                    <p class="lead">Enter the competition!</p>
                    <br/>
                    <a href="/submit" class="jumbotron-btn btn btn-primary btn-lg">Submit a Photo</a>
                    <a href="/photos" class="jumbotron-btn btn btn-info btn-lg">Browse the Gallery</a>
                {% else %}
                    <h1 class="jumbotron-header">Enter the competition!</h1>
                    <div>
                        <a href="/login" class="jumbotron-btn btn btn-primary btn-lg">Log In</a>
                        <a href="/signup" class="jumbotron-btn btn btn-info btn-lg">Sign Up</a>
                    </div>
                    </div>
                        </div>

                    </div>
        {% endif %}



{% endblock %}
