
<nav class="navbar navbar-light navbar-expand-lg bg-light">
    <a class="navbar-brand" href="/">
            <i class="fa fa-camera-retro" aria-hidden="true"></i>
            Photo Competition
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/photos">Gallery</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
        </ul>
        {% if current_user %}
            <div class="nav-item">
                <a href="/users/logout" class="btn btn-info">Logout</a>
            </div>
        {%  endif %}

    </div>




</nav>