
<div class="social-buttons card-1">
    <a href="http://www.facebook.com/sharer.php?u={{ current_url }}" target="_blank">
        <i class="fa fa-3x fa-facebook-official social-button facebook-icon" aria-hidden="true"></i>
    </a>
    <br>
    <a href="https://twitter.com/share?url={{ current_url }};hashtags=photocompetition" target="_blank">
        <i class="fa fa-3x fa-twitter-square social-button twitter-icon" aria-hidden="true"></i>
    </a>
    <br>
    <a href="mailto:?Subject=Photo Competition&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 {{ current_url }}">
        <i class="fa fa-3x fa-at email-icon social-button" aria-hidden="true"></i>
    </a>
</div>